docs/n8n-workflow-for generating content.json
{
    "nodes": [
      {
        "parameters": {
          "httpMethod": "POST",
          "path": "ef705e79-924e-44ec-86aa-864dcd4b60c2",
          "responseMode": "responseNode",
          "options": {}
        },
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2.1,
        "position": [
          480,
          320
        ],
        "id": "4ddaa60c-8ff7-4b87-bd5e-dbab695a3e3c",
        "name": "Webhook",
        "webhookId": "ef705e79-924e-44ec-86aa-864dcd4b60c2"
      },
      {
        "parameters": {
          "promptType": "define",
          "text": "=User Info:\n\nRestaurant Name: {{ $json.body.restaurantSettings.restaurantName }}\nLocation: {{ $json.body.restaurantSettings.location }}\nCuisine Type: {{ $json.body.restaurantSettings.cuisineType }}\nDaily Customer Count:{{ $json.body.restaurantSettings.dailyCustomerCount }}\nTeam Size: {{ $json.body.restaurantSettings.teamSize }}\nMain Social Media Platform: {{ $json.body.restaurantSettings.mainSocialPlatform }}\nWeekly Post Interval: {{ $json.body.restaurantSettings.weeklyPostCount }}\nBrand Tone: {{ $json.body.restaurantSettings.brandTone }}\n\n\nCurrent Date: {{ $now }}",
          "hasOutputParser": true,
          "options": {
            "systemMessage": "=You are a specialized AI agent for restaurant social media marketing with deep expertise in:\n\nRestaurant industry trends and customer psychology\nSocial media content creation and engagement strategies\nFood photography and visual content optimization\nLocal market awareness and cultural sensitivity\nBrand voice consistency and audience targeting\nPlatform-specific content optimization (Instagram, Facebook, TikTok)\nSeasonal marketing and promotional timing\n\nPrimary Objective\nGenerate a complete monthly social media content calendar that drives customer engagement, increases foot traffic, and builds brand loyalty for restaurants. Your content must be authentic, engaging, and specifically tailored to the restaurant's unique characteristics, location, and target audience.\nAnalysis Framework\nRestaurant Context Analysis\nBefore creating content, analyze these key factors:\n\nLocation Intelligence\n\nResearch local food culture, dining habits, and preferences\nConsider timezone, local events, holidays, and seasonal patterns\nAdapt language and cultural references to the local market\nFactor in local competition and market positioning\n\n\nCuisine Type Strategy\n\nUnderstand the cuisine's unique selling points and traditional elements\nIdentify signature dishes, cooking methods, and cultural stories\nConsider dietary trends relevant to the cuisine type\nLeverage authenticity and heritage when applicable\n\n\nBusiness Scale Optimization\n\nSmall team (1-5): Focus on personal stories, behind-the-scenes, owner/chef personality\nMedium team (6-15): Highlight team members, kitchen dynamics, service excellence\nLarge team (15+): Showcase different departments, specializations, company culture\n\n\nCustomer Volume Strategy\n\nLow volume (1-25 daily): Intimate, personal content, special attention to regular customers\nMedium volume (26-75 daily): Balance between personal touch and broader appeal\nHigh volume (75+ daily): Focus on efficiency, popular items, peak hour management\n\n\n\nContent Strategy Framework\nContent Pillars (Distribution Guidelines)\n\n30% Food Focus: Signature dishes, daily specials, cooking process, ingredients\n25% Behind-the-Scenes: Kitchen prep, team moments, restaurant operations\n20% Customer Experience: Reviews, testimonials, dining atmosphere, events\n15% Educational/Tips: Food facts, cooking tips, ingredient stories, nutrition\n10% Community/Local: Local events, partnerships, community involvement, seasonal celebrations\n\nBrand Tone Implementation\nProfessional/Upscale:\n\nSophisticated language, emphasis on quality and craftsmanship\nFocus on culinary expertise, premium ingredients, dining experience\nUse refined vocabulary, avoid excessive emojis, maintain elegance\n\nCasual/Fun:\n\nConversational tone, playful language, generous use of relevant emojis\nFocus on enjoyment, good times, comfort, and accessibility\nUse trending phrases, casual expressions, create relatable moments\n\nFamily-Friendly:\n\nWarm, welcoming language emphasizing comfort and togetherness\nFocus on family values, wholesome ingredients, kid-friendly options\nUse inclusive language, emphasize safety and community\n\nTrendy/Modern:\n\nContemporary language, social media savvy expressions\nFocus on innovation, Instagram-worthy presentations, food trends\nUse current slang appropriately, emphasize visual appeal and shareability\n\nContent Creation Guidelines\nEngagement Optimization\n\nInclude compelling questions to encourage comments\nCreate urgency with limited-time offers or daily specials\nUse storytelling to create emotional connections\nInclude clear, actionable call-to-actions\nLeverage user-generated content opportunities\n\nHashtag Strategy\n\nMix of popular (#foodie #restaurant) and niche tags (#[CuisineType]food #[Location]eats)\nInclude location-specific tags (#[City]dining #[Neighborhood]food)\nUse branded hashtags when appropriate\nLimit to 8-12 hashtags per post for optimal reach\nResearch trending hashtags relevant to cuisine type and location\n\nPlatform-Specific Content Optimization\nInstagram\n\nCharacter limit: 50-125 characters for optimal engagement\nStyle: Visual-first, punchy, emoji-rich\nFormat: Short sentences, line breaks for readability\nFocus: Immediate impact, Instagram-worthy moments\nCTA: Simple actions (visit, try, tag friends)\n\nFacebook\n\nCharacter limit: 100-300 characters for optimal engagement\nStyle: Conversational, community-focused, storytelling\nFormat: Longer descriptions with context and background\nFocus: Building relationships, sharing experiences\nCTA: Encourage comments, shares, and discussions\n\nLinkedIn (if applicable)\n\nCharacter limit: 150-300 characters\nStyle: Professional yet approachable\nFormat: Business-focused storytelling\nFocus: Industry insights, team achievements, business values\nCTA: Professional networking actions\n\nTikTok (if applicable)\n\nCharacter limit: 50-100 characters\nStyle: Trendy, engaging, hook-focused\nFormat: Attention-grabbing first line\nFocus: Entertainment value, viral potential\nCTA: Trending challenges, duets, engagement\n\nThumbnail Image Prompt Generation\nImage Prompt Requirements\nCreate realistic, appetizing, and professional food photography prompts that:\n\nVisual Appeal Standards\n\nProfessional food photography lighting and composition\nVibrant, natural colors that make food look appetizing\nClean, uncluttered backgrounds that don't distract from food\nProps and styling appropriate to restaurant's brand level\n\n\nTechnical Specifications\n\nHigh-quality, restaurant-grade food presentation\nProper food styling with fresh, appealing ingredients\nProfessional plating and garnish appropriate to cuisine type\nLighting that enhances texture and color of dishes\n\n\nBrand Alignment\n\nMatch the restaurant's atmosphere and price point\nReflect the cuisine's authentic presentation style\nInclude appropriate tableware, settings, and ambiance\nConsider the restaurant's brand colors and aesthetic\n\n\nEngagement Optimization\n\nFood positioned for maximum visual impact\nInclude elements that suggest freshness and quality\nCreate desire and craving through visual storytelling\nEnsure images work well as social media thumbnails\n\n\n\nOutput Requirements\nJSON Structure\n\n[\n  {\n    \"dateOfPosting\": \"YYYY-MM-DD\",\n    \"contentTitle\": \"Engaging post title that captures attention\",\n    \"contentDescription\": \"Complete post content with brand-appropriate tone, emojis, and clear call-to-action\",\n    \"socialMediaText\": \"Platform-optimized caption text based on selected platform(s) following character limits and style guidelines\",\n    \"thumbnailImagePrompt\": \"Detailed, professional food photography prompt for realistic, appetizing image generation\",\n    \"tags\": [\"#hashtag1\", \"#hashtag2\", \"#hashtag3\", \"#hashtag4\"],\n    \"platform\": [\"Instagram\", \"Facebook\"]\n  }\n]\n\nContent Quality Standards\n\nTitles: Compelling, action-oriented, 8-15 words maximum\nDescriptions: 50-150 words, include emojis appropriately, end with clear CTA\nSocial Media Text: Single optimized caption based on primary platform selection, following character and style guidelines\nImage Prompts: 30-50 words, specific, realistic, appetizing\nTags: 6-10 relevant hashtags mixing popular and niche terms\nPlatform: Choose based on content type and restaurant's main platform preference\n\nSocial Media Text Generation Rules\nPlatform-Based Optimization Logic\nGenerate socialMediaText based on the primary platform selected:\n\nIf Instagram is primary/only platform: 50-125 characters - Short, impactful, emoji-rich\nIf Facebook is primary/only platform: 100-300 characters - Conversational, detailed, community-focused\nIf LinkedIn is primary/only platform: 150-300 characters - Professional, business-oriented, achievement-focused\nIf TikTok is primary/only platform: 50-100 characters - Trendy, hook-focused, viral potential\nIf multiple platforms selected: Optimize for the platform that appears first in the array, ensuring compatibility with others\n\nContent Adaptation Strategy\n\nSingle Platform Focus\n\nOptimize specifically for that platform's character limits and culture\nUse platform-specific engagement tactics and language\nApply appropriate hashtag strategy for that platform\n\n\nMulti-Platform Compatibility\n\nWhen multiple platforms are selected, create text that works well across all listed platforms\nFind the sweet spot between platform requirements (e.g., Instagram short + Facebook longer = medium length)\nUse universal engagement tactics that work across platforms\nEnsure hashtags are appropriate for all selected platforms\n\n\n\nPlatform-Specific Engagement Tactics\n\nInstagram: Visual storytelling, behind-the-scenes moments, \"Visit us today!\" \"Tag a friend!\"\nFacebook: Community building, discussions, \"Share your thoughts!\" \"What's your favorite dish?\"\nLinkedIn: Business achievements, team spotlights, \"Proud to serve our community\"\nTikTok: Trending formats, challenges, \"Drop a 🔥 if you'd try this!\"\n\nPosting Schedule Logic\n\nCalculate total posts: Weekly Post Interval × 4 weeks\nStart date: Day after the provided Current Date\nDistribute posts evenly throughout the month\nConsider optimal posting times for the cuisine type and location\nAvoid oversaturation while maintaining consistent presence\n\nContent Variety Requirements\nEnsure diverse content across the month:\n\nWeek 1: Introduction/welcome content, signature dishes, team introduction\nWeek 2: Behind-the-scenes content, customer stories, daily specials\nWeek 3: Educational content, local partnerships, seasonal offerings\nWeek 4: Community engagement, upcoming events, monthly highlights\n\nQuality Control Checklist\nBefore outputting content, verify:\n\n✅ All restaurant details accurately reflected\n✅ Brand tone consistently maintained across all text\n✅ Local market relevance incorporated\n✅ Cuisine type authentically represented\n✅ Customer volume appropriately addressed\n✅ Platform-specific text optimization applied\n✅ Character limits respected for each platform\n✅ Social media text matches platform culture and best practices\n✅ Engagement elements included in platform-appropriate formats\n✅ Professional image prompts provided\n✅ Hashtags optimized for each specific platform\n✅ Proper JSON formatting maintained\n✅ Posting schedule logically distributed\n✅ Call-to-actions adapted for each platform's audience behavior\n\nError Prevention\n\nNever use competitor restaurant names or locations\nAvoid generic content that could apply to any restaurant\nDon't include pricing information unless specifically provided\nEnsure all cultural references are appropriate and respectful\nVerify that cuisine type representation is authentic and accurate\n"
          }
        },
        "type": "@n8n/n8n-nodes-langchain.agent",
        "typeVersion": 2.2,
        "position": [
          688,
          320
        ],
        "id": "fa7d3124-05ec-4f13-8eeb-278d17c33a4e",
        "name": "AI Agent"
      },
      {
        "parameters": {
          "model": {
            "__rl": true,
            "mode": "list",
            "value": "gpt-4.1-mini"
          },
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
        "typeVersion": 1.2,
        "position": [
          560,
          528
        ],
        "id": "80b06b65-bdbf-41b0-a87b-ac9201b66526",
        "name": "OpenAI Chat Model",
        "credentials": {
          "openAiApi": {
            "id": "ccWb1sYJlgB0WuhY",
            "name": "OpenAi account"
          }
        }
      },
      {
        "parameters": {
          "jsonSchemaExample": "[\n  {\n    \"dateOfPosting\": \"YYYY-MM-DD\",\n    \"contentTitle\": \"Engaging post title that captures attention\",\n    \"contentDescription\": \"Complete post content with brand-appropriate tone, emojis, and clear call-to-action\",\n    \"socialMediaText\": \"Platform-optimized caption text based on selected platform(s) following character limits and style guidelines\",\n    \"thumbnailImagePrompt\": \"Detailed, professional food photography prompt for realistic, appetizing image generation\",\n    \"tags\": [\"#hashtag1\", \"#hashtag2\", \"#hashtag3\", \"#hashtag4\"],\n    \"platform\": [\"Instagram\", \"Facebook\"]\n  }\n]"
        },
        "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
        "typeVersion": 1.3,
        "position": [
          864,
          528
        ],
        "id": "a1a3c0e5-68ea-4676-b261-a2aa2c40569c",
        "name": "Structured Output Parser"
      },
      {
        "parameters": {
          "resource": "image",
          "prompt": "={{ $json.output.thumbnailImagePrompt }}",
          "options": {
            "size": "1792x1024"
          }
        },
        "type": "@n8n/n8n-nodes-langchain.openAi",
        "typeVersion": 1.8,
        "position": [
          1744,
          320
        ],
        "id": "b1ac0880-9344-45b0-93fb-56d19848656a",
        "name": "Generate an image",
        "credentials": {
          "openAiApi": {
            "id": "ccWb1sYJlgB0WuhY",
            "name": "OpenAi account"
          }
        }
      },
      {
        "parameters": {
          "method": "POST",
          "url": "=https://aqdiaqmqadhycfioncle.supabase.co/storage/v1/object/thumbnails/{{$now.format('yyyy-MM-dd-HH-mm-ss')}}.jpg",
          "authentication": "predefinedCredentialType",
          "nodeCredentialType": "supabaseApi",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "apikey",
                "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImFxZGlhcW1xYWRoeWNmaW9uY2xlIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTY0ODE3NzYsImV4cCI6MjA3MjA1Nzc3Nn0.iw5cP1B-8MRd8ugqxzVudAvve4dqILpgxdOg3MxUbkA"
              },
              {
                "name": "Authorization",
                "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImFxZGlhcW1xYWRoeWNmaW9uY2xlIiwicm9sZSI6InNlcnZpY2Vfc29sZSIsImlhdCI6MTc1NjQ4MTc3NiwiZXhwIjoyMDcyMDU3Nzc2fQ.DuRHCS2wyZiU6phXpSeE7ERXqV-5JGqTkGqqAyhTKHQ"
              }
            ]
          },
          "sendBody": true,
          "contentType": "multipart-form-data",
          "bodyParameters": {
            "parameters": [
              {
                "parameterType": "formBinaryData",
                "name": "file",
                "inputDataFieldName": "data"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          1984,
          320
        ],
        "id": "74232018-9726-43a7-b167-ac6ee41b6d91",
        "name": "Upload to Supabase",
        "credentials": {
          "httpBasicAuth": {
            "id": "cHZsudgNsxC2oMbD",
            "name": "Cloudinary"
          },
          "supabaseApi": {
            "id": "jTqOa2YTZcMvc09i",
            "name": "Mondabot-Restaurant App"
          }
        }
      },
      {
        "parameters": {
          "fieldToSplitOut": "output",
          "include": "allOtherFields",
          "options": {}
        },
        "type": "n8n-nodes-base.splitOut",
        "typeVersion": 1,
        "position": [
          1040,
          320
        ],
        "id": "f553f99a-a90b-4f2f-9955-a7df83bdd340",
        "name": "Split Out"
      },
      {
        "parameters": {
          "options": {}
        },
        "type": "n8n-nodes-base.splitInBatches",
        "typeVersion": 3,
        "position": [
          1280,
          320
        ],
        "id": "c4fd8fc7-36db-459f-84ef-b3f2f77b78f3",
        "name": "Loop Over Items"
      },
      {
        "parameters": {
          "tableId": "content_dashboard",
          "fieldsUi": {
            "fieldValues": [
              {
                "fieldId": "content_title",
                "fieldValue": "={{ $('Loop Over Items').item.json.output.contentTitle }}"
              },
              {
                "fieldId": "posting_date",
                "fieldValue": "={{ $('Loop Over Items').item.json.output.dateOfPosting }}"
              },
              {
                "fieldId": "content_description",
                "fieldValue": "={{ $('Loop Over Items').item.json.output.contentDescription }}"
              },
              {
                "fieldId": "social_media_text",
                "fieldValue": "={{ $('Loop Over Items').item.json.output.socialMediaText }}"
              },
              {
                "fieldId": "thumbnail_url",
                "fieldValue": "=https://aqdiaqmqadhycfioncle.supabase.co/storage/v1/object/public/{{ $json.Key }}"
              },
              {
                "fieldId": "tags",
                "fieldValue": "={{ [$('Loop Over Items').item.json.output.tags].flat() }}"
              },
              {
                "fieldId": "platforms",
                "fieldValue": "={{ [$('Loop Over Items').item.json.output.platform] }}"
              }
            ]
          }
        },
        "type": "n8n-nodes-base.supabase",
        "typeVersion": 1,
        "position": [
          2192,
          320
        ],
        "id": "39013a31-8a19-4788-9dae-b1e829dc40cb",
        "name": "Add Item to Supabase",
        "credentials": {
          "supabaseApi": {
            "id": "jTqOa2YTZcMvc09i",
            "name": "Mondabot-Restaurant App"
          }
        }
      },
      {
        "parameters": {
          "respondWith": "text",
          "responseBody": "Done",
          "options": {}
        },
        "type": "n8n-nodes-base.respondToWebhook",
        "typeVersion": 1.4,
        "position": [
          1488,
          208
        ],
        "id": "2dd3d0e7-4b24-48c0-b340-baa049aa607a",
        "name": "Respond to Webhook"
      }
    ],
    "connections": {
      "Webhook": {
        "main": [
          [
            {
              "node": "AI Agent",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "AI Agent": {
        "main": [
          [
            {
              "node": "Split Out",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "OpenAI Chat Model": {
        "ai_languageModel": [
          [
            {
              "node": "AI Agent",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      },
      "Structured Output Parser": {
        "ai_outputParser": [
          [
            {
              "node": "AI Agent",
              "type": "ai_outputParser",
              "index": 0
            }
          ]
        ]
      },
      "Generate an image": {
        "main": [
          [
            {
              "node": "Upload to Supabase",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Upload to Supabase": {
        "main": [
          [
            {
              "node": "Add Item to Supabase",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Split Out": {
        "main": [
          [
            {
              "node": "Loop Over Items",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Loop Over Items": {
        "main": [
          [
            {
              "node": "Respond to Webhook",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Generate an image",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Add Item to Supabase": {
        "main": [
          [
            {
              "node": "Loop Over Items",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "pinData": {
      "Webhook": [
        {
          "headers": {
            "host": "n8n-automations.dmdfajardo.pro",
            "user-agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/139.0.0.0 Safari/537.36",
            "content-length": "312",
            "accept": "*/*",
            "accept-encoding": "gzip, deflate, br, zstd",
            "accept-language": "en-US,en;q=0.5",
            "content-type": "application/json",
            "origin": "http://localhost:3000",
            "priority": "u=1, i",
            "referer": "http://localhost:3000/",
            "sec-ch-ua": "\"Not;A=Brand\";v=\"99\", \"Brave\";v=\"139\", \"Chromium\";v=\"139\"",
            "sec-ch-ua-mobile": "?0",
            "sec-ch-ua-platform": "\"Windows\"",
            "sec-fetch-dest": "empty",
            "sec-fetch-mode": "cors",
            "sec-fetch-site": "cross-site",
            "sec-gpc": "1",
            "x-forwarded-for": "143.44.165.80",
            "x-forwarded-host": "n8n-automations.dmdfajardo.pro",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "5986363cc41c",
            "x-real-ip": "143.44.165.80"
          },
          "params": {},
          "query": {},
          "body": {
            "restaurantSettings": {
              "restaurantName": "Camiguin Dining",
              "location": "Barcelona, Madrid",
              "cuisineType": "BBQ",
              "dailyCustomerCount": "50-100",
              "teamSize": "1-5",
              "mainSocialPlatform": "Instagram",
              "weeklyPostCount": "3-4 posts",
              "brandTone": "Casual/Fun"
            },
            "timestamp": "2025-08-30T02:43:59.358Z",
            "action": "generate_content"
          },
          "webhookUrl": "https://n8n-automations.dmdfajardo.pro/webhook/ef705e79-924e-44ec-86aa-864dcd4b60c2",
          "executionMode": "production"
        }
      ],
      "AI Agent": [
        {
          "output": [
            {
              "dateOfPosting": "2025-08-30",
              "contentTitle": "Welcome to Camiguin Dining – Your BBQ Escape in Barcelona!",
              "contentDescription": "🔥 Ready for a flavor fest? At Camiguin Dining, we bring authentic BBQ magic to Barcelona! From smoky ribs to juicy grilled specials, every bite is a celebration. Tag your BBQ buddies and let's get this feast started! 🍖🎉 #TasteTheSmoke #BBQFun",
              "socialMediaText": "🔥 Craving BBQ? Camiguin Dining has you covered! Tag friends & visit for smoky bites 🍖✨ #MadridEats #BBQLovers",
              "thumbnailImagePrompt": "Bright, vibrant photo of a sizzling plate of assorted BBQ meats including ribs, chicken, and sausages, styled on a rustic wooden table with subtle smoke rising, warm natural lighting highlighting textures. The setting suggests a casual, fun vibe with minimal props like checkered napkins and a cold drink in the background.",
              "tags": [
                "#BBQMadrid",
                "#CamiguinDining",
                "#MadridEats",
                "#Foodie",
                "#BBQLovers",
                "#GrillMaster",
                "#Foodstagram",
                "#BBQTime"
              ],
              "platform": [
                "Instagram"
              ]
            },
            {
              "dateOfPosting": "2025-09-03",
              "contentTitle": "Meet the Master Behind Your BBQ Feast!",
              "contentDescription": "👩‍🍳 Meet Chef Juan, the BBQ maestro crafting your favorite smoky dishes at Camiguin Dining. Watch how passion meets flavor in every plate! Drop a 🔥 if you love BBQ done right! #ChefLife #BBQPassion",
              "socialMediaText": "👨‍🍳 Meet Chef Juan, BBQ master behind the magic! Drop a 🔥 if you love real BBQ! 🍖 #CamiguinDining #BBQLife",
              "thumbnailImagePrompt": "A warm, candid portrait of Chef Juan mid-grill, smiling, surrounded by BBQ tools and sizzling meats on a grill, casual attire, rustic kitchen backdrop with warm lighting conveying passion and friendliness.",
              "tags": [
                "#MeetTheChef",
                "#BBQPassion",
                "#CamiguinDining",
                "#Foodie",
                "#MadridEats",
                "#GrillLife",
                "#ChefJuan",
                "#BBQLovers"
              ],
              "platform": [
                "Instagram"
              ]
            },
            {
              "dateOfPosting": "2025-09-06",
              "contentTitle": "Behind the Scenes: How We Perfect Your BBQ",
              "contentDescription": "🔥 Ever wondered how we get that perfect smoky flavor? Join us behind the scenes with our signature wood charcoal grilling technique. It’s all about patience, quality, and love! Visit us and taste the difference. 🍴 #BBQSecrets #CamiguinDining",
              "socialMediaText": "🔥 Peek behind the scenes at our secret to perfect BBQ! Quality, love & wood charcoal magic. Come taste! 🍖 #BBQSecrets #MadridEats",
              "thumbnailImagePrompt": "Close-up photo showing hands tending to meats on a charcoal grill with glowing embers, smoke wafting up, rustic grill tools visible, natural warm lighting emphasizing texture and smoke effects, casual BBQ setup in open kitchen.",
              "tags": [
                "#BBQSecrets",
                "#CamiguinDining",
                "#MadridFood",
                "#GrillMaster",
                "#BehindTheScenes",
                "#Foodie",
                "#MadridEats",
                "#BBQLovers"
              ],
              "platform": [
                "Instagram"
              ]
            },
            {
              "dateOfPosting": "2025-09-09",
              "contentTitle": "Customer Shoutout: Loving Camiguin’s BBQ Vibes",
              "contentDescription": "💬 \"Best BBQ in Barcelona! Juicy, smoky, and full of flavor. Always a great time here!\" – Maria T. Thanks for the love, Maria! Come join us and experience it yourself! Tag your BBQ crew! 🔥🍖 #HappyCustomers #BBQVibes",
              "socialMediaText": "💬 \"Best BBQ in Barcelona! Juicy, smoky & full of flavor.\" – Maria T. Tag your BBQ crew & visit us! 🔥🍖 #HappyCustomers #CamiguinDining",
              "thumbnailImagePrompt": "Photo of happy customers enjoying BBQ platters at Camiguin Dining outdoor seating with joyous expressions, bright natural lighting, rustic casual ambiance, colorful plates with various grilled meats and sides.",
              "tags": [
                "#HappyCustomers",
                "#CamiguinDining",
                "#MadridEats",
                "#BBQVibes",
                "#Foodie",
                "#BarcelonaEats",
                "#BBQLovers",
                "#GoodTimes"
              ],
              "platform": [
                "Instagram"
              ]
            },
            {
              "dateOfPosting": "2025-09-12",
              "contentTitle": "Daily Special Alert: Spicy BBQ Ribs!",
              "contentDescription": "🌶️ Today's special is a spicy twist on our signature ribs! Tender, smoky, and with just the right kick. Don’t miss out – visit us today and spice up your BBQ experience! 🔥 #DailySpecial #SpicyRibs",
              "socialMediaText": "🌶️ Spicy ribs on special today! Tender, smoky & fired up 🔥 Hurry in! #DailySpecial #MadridEats",
              "thumbnailImagePrompt": "Appetizing close-up of spicy glazed BBQ ribs on a rustic wooden board, garnished with fresh herbs and a side of spicy dipping sauce, warm ambient lighting highlighting the glaze and texture, casual plating style.",
              "tags": [
                "#DailySpecial",
                "#SpicyRibs",
                "#CamiguinDining",
                "#MadridEats",
                "#BBQLovers",
                "#Foodie",
                "#BBQTime",
                "#GrillMaster"
              ],
              "platform": [
                "Instagram"
              ]
            },
            {
              "dateOfPosting": "2025-09-15",
              "contentTitle": "Our Secret Sauce: What Makes Camiguin BBQ Unique",
              "contentDescription": "🤫 It’s all about the sauce! Our secret blend of smoky, sweet, and tangy flavors sets us apart. Want to know more? Swing by and taste the difference yourself! 🍖 #SecretSauce #CamiguinDining",
              "socialMediaText": "🤫 Secret sauce alert! Our smoky, sweet & tangy blend is 🔥 Come taste! 🍖 #BBQLovers #CamiguinDining",
              "thumbnailImagePrompt": "Close-up image of a rustic bowl filled with thick, glossy BBQ sauce with a wooden spoon, surrounded by fresh spices and herbs on a wooden table, natural lighting enhancing richness and texture.",
              "tags": [
                "#SecretSauce",
                "#CamiguinDining",
                "#MadridEats",
                "#BBQSauce",
                "#Foodie",
                "#BBQLovers",
                "#Flavorful",
                "#GrillLife"
              ],
              "platform": [
                "Instagram"
              ]
            },
            {
              "dateOfPosting": "2025-09-18",
              "contentTitle": "Local Partnership Spotlight: Fresh Madrid Veggies Meet Our Grill",
              "contentDescription": "🥗 We team up with local Madrid farms to bring fresh, quality veggies to your BBQ plate. Supporting local means flavor and community! Come taste the freshness today. 🥒🍅 #LocalLove #FreshAndGrilled",
              "socialMediaText": "🥗 Fresh veggies from Madrid farms meet our grill! Support local, taste fresh. Come try! 🌿 #LocalLove #CamiguinDining",
              "thumbnailImagePrompt": "Photo of colorful fresh vegetables like bell peppers, tomatoes, and zucchini arranged next to grilled BBQ platters, bright natural lighting, rustic wooden table with fresh herbs, casual style matching the brand vibe.",
              "tags": [
                "#LocalLove",
                "#FreshAndGrilled",
                "#CamiguinDining",
                "#MadridEats",
                "#FarmToTable",
                "#BBQLovers",
                "#Foodie",
                "#SupportLocal"
              ],
              "platform": [
                "Instagram"
              ]
            },
            {
              "dateOfPosting": "2025-09-21",
              "contentTitle": "BBQ Tips: How to Grill Like a Pro at Home",
              "contentDescription": "🔥 Wanna grill like us? Here’s a quick tip: always use quality wood charcoal and let the flames kiss the meat gently for that perfect smoky flavor. Try it out and share your results! 🍖 #GrillTips #BBQLovers",
              "socialMediaText": "🔥 Grill like a pro! Use quality charcoal & gentle flame kisses for smoky flavor 🍖 Show us your results! #BBQLovers #GrillTips",
              "thumbnailImagePrompt": "Dynamic photo showing a grill with glowing coals and meat sizzling, close-up of tongs flipping ribs, smoke rising with warm golden lighting, emphasizing technique and grill textures in a casual kitchen setting.",
              "tags": [
                "#GrillTips",
                "#BBQLovers",
                "#CamiguinDining",
                "#MadridFood",
                "#Foodie",
                "#BBQTime",
                "#GrillMaster",
                "#BBQSecrets"
              ],
              "platform": [
                "Instagram"
              ]
            },
            {
              "dateOfPosting": "2025-09-24",
              "contentTitle": "Celebrate Spanish Food Festival with BBQ Specials!",
              "contentDescription": "🎉 Spanish Food Festival vibes with a BBQ twist! Enjoy our special menu celebrating local flavors and smoky BBQ goodness. Special deals all week! Bring your friends and join the fiesta! 🇪🇸🔥 #FoodFestival #CamiguinDining",
              "socialMediaText": "🎉 Spanish Food Festival + BBQ = Perfect combo! Join the fiesta with specials all week 🇪🇸🔥 #FoodFestival #MadridEats",
              "thumbnailImagePrompt": "Festive photo of BBQ platters decorated with Spanish flags and colorful party decor, warm natural lighting, casual festive atmosphere showcasing community and celebration.",
              "tags": [
                "#FoodFestival",
                "#CamiguinDining",
                "#MadridEats",
                "#BBQFiesta",
                "#SpanishCuisine",
                "#Foodie",
                "#BBQLovers",
                "#Community"
              ],
              "platform": [
                "Instagram"
              ]
            },
            {
              "dateOfPosting": "2025-09-27",
              "contentTitle": "Monthly BBQ Highlights & What’s Coming Next!",
              "contentDescription": "🔥 September was a smoky hit! Thanks for all the love, Madrid! Get ready for new specials and events coming up in October. Stay tuned and keep your BBQ cravings alive! 🍖 #MonthlyRecap #CamiguinDining",
              "socialMediaText": "🔥 Sept was smoky & delicious! New BBQ specials & events coming soon. Stay tuned! 🍖 #MonthlyRecap #CamiguinDining",
              "thumbnailImagePrompt": "Collage-style image showing highlights of various BBQ dishes, happy customers, behind-the-scenes shots, warm lighting creating a cozy, fun vibe consistent with the Camiguin Dining atmosphere.",
              "tags": [
                "#MonthlyRecap",
                "#CamiguinDining",
                "#MadridEats",
                "#BBQLovers",
                "#Foodie",
                "#GoodTimes",
                "#BBQCommunity",
                "#GrillMaster"
              ],
              "platform": [
                "Instagram"
              ]
            }
          ]
        }
      ]
    },
    "meta": {
      "templateCredsSetupCompleted": true,
      "instanceId": "ba897fb808dfcf48d1de2ce17cb872127dc86f387c293000cb04b4aea1c89731"
    }
  }